* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark:#191E25;
    --white:#fff;
    --main-red: #E7442E;
    --red1: #ff8e80;
    --red2: #e61b00;
    --red3: #8f1100;
    --red4: #610500;
  }

body,
html {
    background-color: var(--dark) !important;
    z-index: 1
}

#dots-diagram{
    padding: 3rem;
}

/* .circles {
    stroke: transparent;
    stroke-width: 1.5px;
}

.circles circle:hover {
    stroke: white;
} */

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active{
    visibility: visible;
    opacity: 1;
}

/* containers */

.modal{
    display: flex;
    position:relative;
    background-color: rgba(255,255,255,0.1);
    -webkit-backdrop-filter: blur(10px);
    width:60%;
    height:45%;
    border-radius: 5px;
    align-items: center;
}

.modal-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    padding: 5%;
}

.image-div{
    display: flex;
    object-fit: scale-down;
}

.content-div{
    display: flex;
    flex-direction: column;
    margin:3%;
}

/* elements */

.main-title{
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 4rem;
    font-weight: 600;
    text-align:center;
    color: var(--main-red);
    align-self:flex-start;
}

.close{
    cursor: pointer;
    position:absolute;
    top:10px;
    right:10px;
    font-family: 'Jost', sans-serif;
    font-size: 0.8em;
    font-weight: 200;
    opacity: 30%;
    color: var(--white)
}

.poster{
    filter: sepia(60%);
    object-fit: scale-down;
}

.film-title{
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--main-red);
    align-self:flex-start;
}

.film-episode{
    font-family: 'Jost', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: var(--white)
}

.film-overview{
    font-family: 'Jost', sans-serif;
    max-height:9rem;
    overflow-y: auto;
    font-size: 1rem;
    font-weight: 100;
    color: var(--white);
    margin-top: 5%;
}

/* .yearAxis .tick text{
    fill: #fff;
    stroke:#fff;
    color:#fff;

} */
.yearAxis, 
.domain  {
    fill: var(--white) !important;
    stroke:var(--white) !important;
    color:var(--white) !important;
}