* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: #191E25;
    z-index: 1;
    font-family: 'Jost', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: auto;
}

/* TEXTS */
h1 {
    text-transform: uppercase;
    margin-top: 10rem;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: rgba(25, 30, 37, 0.5);
    width: 100%;
    -webkit-backdrop-filter: blur(10px);
}

#line {
    margin: 0;
    border-bottom: 0.5rem solid rgb(29, 223, 163);
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 20%;
    position: sticky;
    top: 6rem;
    background-color: #191E25;
}

p {
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 60%;
    font-size: 1.3rem;
    font-weight: 200;
    text-align: center;
}

#outro {
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 56%;
    font-size: 0.9rem;
    font-weight: 100;
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid rgba(217, 217, 217, 0.2);
}

.legend-category {
    margin: auto;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 200;
    text-align: center;
    /* color: white; */
}

.legend-number {
    font-weight: 600;
}

/* CONTAINERS */
#svg-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#legend-stats {
    position: absolute;
    display: flex;
    margin-top: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    height: 4rem;
    z-index: 2;
    display: none;
    cursor: pointer;
}

#dots {
    border-radius: 0.5rem;
}

#legend {
    height: 2rem;
}

#buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    gap: 1rem
}

.btn-text-container {
    display: flex;
    justify-content: center;
}

.btn {
    transition: 0.2s;

    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 20rem;
    border-style: none;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: #15191f;
    color: white;
}

.btn:hover {
    cursor: pointer;
    transition: 0.2s;
    color: rgb(29, 223, 163);
    background-color: black;
    font-weight: 800;

}

.btn-selected {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 20rem;
    border-style: none;
    margin-left: 2rem;
    margin-right: 2rem;
    color: #15191f;
    transition: 0.2s;
    background-color: rgb(29, 223, 163);
}

.btn-selected:hover {
    cursor: pointer;
    font-weight: 800;
    transition: 0.2s;
    background-color: rgb(0, 180, 120);

}

.p-small {
    margin: 0;
    font-size: 1rem;
    font-weight: 200;
}

/* MODAL */
.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal {
    display: flex;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    -webkit-backdrop-filter: blur(10px);
    width: 60%;
    height: 45%;
    border-radius: 5px;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: row;
    padding: 5%;
    width: 100%;
}

.image-div {
    object-fit: scale-down;
}

.content-div {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    margin: 3%;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.8em;
    font-weight: 200;
    opacity: 30%;
}

/* Pop Up text and elements */

.poster {
    filter: sepia(60%);
    object-fit: scale-down;
}

.film-title {
    width: 100%;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 600;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.film-episode {
    width: 100%;
    font-size: 1em;
    font-weight: 400;
}

.film-overview {
    margin: 0;
    max-height: 9rem;
    width: 100%;
    overflow-y: auto;
    font-size: 1rem;
    font-weight: 100;
    text-align: left;
}

/* D3 axis */
.domain {
    display: none;
}

/* HYPERLINKS */

/* unvisited link */
a:link {
    color: rgb(0, 180, 120);
    text-decoration: none;
    font-weight: 400;
}

/* visited link */
a:visited {
    color: rgb(29, 223, 163);
    text-decoration: none;
    font-weight: 400;
}

/* mouse over link */
a:hover {
    color: rgb(100, 255, 230);
    text-decoration: none;
}

/* selected link */
a:active {
    color: greenyellow;
    text-decoration: none;
}